* {
  font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
}

body {
  background-color: #FFF;
  font-size: 1.5em;
  margin:50px 0px;
  padding:0px;
}

section.home {
  text-align:center;
}

section.main {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

article.wide {
  clear: both;
  width: 960px;
}

a {
  color: #eb0026;
}

a:visited {
  color: #a60014;
}

a:active {
  color: #000;
}

.twtr-doc {
  margin: 150px auto;
}

h1, h2, h3, h4, h5 {
  color: #000;
}

dl {
  padding: 0.5em;
}

dt {
  float: left;
  clear: left;
  text-align: right;
  width: 10em;
}

dd {
  margin-left: 10em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}
dt:after {
  content: ":"
}

h5 {
  letter-spacing: 3px;
}

section.content {
  width: 1000px;
}

article {
  width: 480px;
  float: left;
}

article heading h1 {
  font-size: 24px;
}

article heading h2 {
  font-size: 20px;
}

article img.headshot {
  height: 80px;
  border: 2px solid black;
}

article section p {
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  padding: 10px;
}

article.spreader {
  width: 1000px;
  height: 150px;
}

.twtr-widget {
  margin-top: -125px;
  clear: both;
}
