%hgroup
  %h1 Madison Ruby Conference
  %h3 August 18 - 20, 2011
  %h5 Save the date!

<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
version: 2,
type: 'profile',
rpp: 4,
interval: 6000,
width: 250,
height: 300,
theme: {
shell: {
background: '#ffffff',
color: '#A11017'
},
tweets: {
background: '#A11017',
color: '#ffffff',
links: '#d6b6b9'
}
},
features: {
scrollbar: false,
loop: false,
live: false,
hashtags: true,
timestamp: true,
behavior: 'all'
}
}).render().setUser('madisonruby').start();
</script>
