!!!
%html
  %head
    %title Madison Ruby Conferece -- August 18 - 20, 2011
    = stylesheet_link_tag :all
    = csrf_meta_tag
    %script{:src => "http://use.typekit.com/ukd0gci.js", :type => "text/javascript"}
    :javascript

      /* Google Analytics */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17866845-1']);
      _gaq.push(['_setDomainName', '.madisonruby.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    = yield
